*:root{
    --primary-color: #3498db;
    --secondary-color: #06853b;
    --font-family: 'Arial', sans-serif;
}
*{
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    padding-top: 90px;
    background-color: #c6def5;
}

/* Barra de navegación */
#header{
    width: 100%;
    background-color: #121212;
}
.navbar{
    height: 80px;
    align-items: center;
    padding: 0;
}
.container-fluid{
    height: 100%;
    flex-wrap:nowrap;
    align-items: stretch;
    
}
.navbar-brand{
    display: flex;
    align-items: stretch;
    height: 80px;
    padding: 0;
}
.container-fluid a img{
    height: 100%;
    display: block;
}
.navbar-collapse{
    align-items: stretch;
}
.navbar-nav{
    margin: 0 auto;
    align-items: center;
    height: 80px;
}
.nav-item{
    height: 100%;
}
.nav-link {
    color: #dfff00;
    display: flex;
    align-items: center;
    transition: color 0.3s;
    height: 100%;
}
.nav-link:hover {
    background-color: #2ff3e0;
}
.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}
.nav-car {
    display: flex;
    align-items: center;
}

.fa-solid {
    font-size: 100%;
    color: var(--secondary-color);
    margin-right: 0.2rem;
}

.counter-car {
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 50%;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    margin: 0 1rem 0 0;
}
#footer {
    background: #111;
    color: #B5ADAD;
    margin-top: 50px;
    font-size: 14px;
    border-top: 1px solid #222;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding:20px;
}

.footer-links a {
    color: #B5ADAD;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #AE8D3E;
}

.footer-contact p {
    margin: 5px 0;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.social-links h2{
    width: 100%;
}
.social-links i{
    margin-right: 20px;
}
.social-links a {
    color: #B5ADAD;
    font-size: 30px;
    transition: 0.3s;
}

.social-links a:hover {
    color: #AE8D3E;
    transform: scale(1.2);
}

.footer-copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #333;
}

